html {
  font-size: 20px;
}

#banner {
  .titulo {
    margin-top: 0;
    width: auto;
    margin-left: 0;
  }
  h1 {
    font-size: 2.5rem;
  }
  .folha {
    top: 70%;
    left: 68%;
  }
}

#conheca {
  background-image: url(./assets/img/bg-malha.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 1050px) 700px;
  .familia {
    margin-top: 0;
  }
  h2 {
    margin-top: 2rem;
  }
  p {
    max-width: 23rem;
  }
  .ico-casa {
    max-width: 28rem;
    margin-top: 1rem;
  }
  .vista-aerea {
    margin-top: -11rem;
    .selo {
      width: auto;
    }
    .foto {
      border: 1rem white solid;
    }
  }
  .folha {
    left: -1%;
  }
}

#natureza {
  padding-bottom: 5rem;
  hr {
    width: 30%;
  }
  h2 {
    font-size: 2.5rem;
    span {
      font-size: 7.5rem;
      left: 13rem;
      top: calc(100% + 2.5rem);
    }
  }
  .conteudo {
    margin-top: 2rem;
    margin-left: -3rem;
    p {
      width: 22rem;
    }
  }
  .btn {
    margin-top: 2rem;
  }
  .folha {
    top: 50%;
    left: 85%;
    width: 15%;
  }
}

#mapa {
  background-image: url(./assets/img/bg-malha.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 1100px) 7rem;
  margin-top: -3rem;
  padding-bottom: 5rem;
  padding-top: 0;
  .conteudo {
    width: auto;
    padding-top: 13rem;
    font-size: 1.9rem;
    line-height: 6rem;
    margin-left: 8rem;
    span {
      font-size: 6rem;
      left: -10rem;
    }
  }
}

#itens {
  .bloco {
    width: 26%;
    img {
      bottom: -3rem;
    }
  }
}

#contato {
  .folha {
    top: -10rem;
    left: -5%;
    width: 439px;
    height: 390px;
    background-position: right top;
    background-image: url(./assets/img/folha-04.png);
  }
}